{
    "sourceMaps": true,
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 Android versions",
                        "last 2 iOS versions"
                    ],
                    "node": "8"
                },
                "exclude": [
                    "transform-async-to-generator",
                    "transform-regenerator"
                ],
                "debug": false
            }
        ]
    ],
    "plugins": [
        // "module:fast-async",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "h"
            }
        ]
    ]
}
